.animate-fadein-up {
  animation: fadein-up 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}
@keyframes fadein-up {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
